@page "/counter"
@inject Data.ImpostazioniModel impostazioni

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    [CascadingParameter] public string Titolo { get; set; }

    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
    protected override Task OnInitializedAsync()
    {
        Titolo = "Counter";
        StateHasChanged();
        return base.OnInitializedAsync();
    }
}
