@page "/"
@inject Data.ImpostazioniModel impostazioni

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
@code{
    protected override Task OnInitializedAsync()
    {
        impostazioni.AppTitle = "Index";
        StateHasChanged();
        return base.OnInitializedAsync();
    }
}